[{
	"reg": "bot\\.net",
	"flag": "i"
}, {
	"reg": "twimaker",
	"flag": "i"
},{
	"reg": "リプライ",
	"flag": ""
},{
	"reg": "オタサー",
	"flag": ""
},{
	"reg": "ツイ廃",
	"flag": ""
},{
	"reg": "このまま",
	"flag": ""
},{
	"reg": "おいでよ",
	"flag": ""
}]
